{% extends "base.html" %}

{% block title %}新規登録{% endblock %}

{% block content %}

<div class="bg-white p-6 rounded shadow">

<h2 class="text-xl font-bold mb-4">新規登録</h2>

<form method="POST" class="space-y-4">
    {% csrf_token %}

    <input
    type="text"
    name="name"
    placeholder="氏名"
    class="border rounded px-3 py-2 w-full">

    <input
    type="text"
    name="kana"
    placeholder="かな"
    class="border rounded px-3 py-2 w-full">

    <input
    type="text"
    name="age"
    placeholder="年齢"
    class="border rounded px-3 py-2 w-full">

    <input
    type="date"
    name="birthday"
    value="{{ birthday | default:'' }}"
    class="border rounded px-3 py-2">

    <select
    name="gender"
    required
    class="border rounded px-3 py-2 w-full"
    >
    <option value="">性別を選択</option>
    <option value="男">男</option>
    <option value="女">女</option>
    <option value="不明">不明</option>
    </select>

    <select
    name="blood_type"
    required
    class="border rounded px-3 py-2 w-full"
    >
    <option value="">血液型を選択</option>
    <option value="A"
        {% if blood_type == 'A' %}selected{% endif %}>A</option>
    <option value="B"
        {% if blood_type == 'B' %}selected{% endif %}>B</option>
    <option value="AB"
        {% if blood_type == 'AB' %}selected{% endif %}>AB</option>
    <option value="O"
        {% if blood_type == 'O' %}selected{% endif %}>O</option>
    </select>

    <input
    type="text"
    name="email"
    placeholder="メール"
    class="border rounded px-3 py-2 w-full">

    <input
    type="text"
    name="tel"
    placeholder="電話番号"
    class="border rounded px-3 py-2 w-full">

    <input
    type="text"
    name="mobile"
    placeholder="携帯電話番号"
    class="border rounded px-3 py-2 w-full">

    <input
    type="text"
    name="postal_code"
    placeholder="郵便番号"
    class="border rounded px-3 py-2 w-full">

    <input
    type="text"
    name="address"
    placeholder="住所"
    class="border rounded px-3 py-2 w-full">

    <input
    type="text"
    name="company"
    placeholder="会社"
    class="border rounded px-3 py-2 w-full">

    <button
    class="bg-green-600 text-white px-6 py-2 rounded">

    登録

    </button>

</form>

</div>

{% endblock %}